  <h2>{{name}} Stats</h2>
  <div class="row v-space">
    <div class="col-md-12">
      <header class="text-xl">
        #{{ number }}
      </header>
      <h2>{{ name }} - {{ position }}</h2>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Comments</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{#each comments}}
      <p>
        <strong>{{name}}</strong>: {{comment}}
      </p>
        {{else}} No Comments
      {{/each}}
    </div>
  </div>
