  <h2>{{name}} Stats</h2>
  <div class="row v-space">
    <div class="col-md-12">
      <header class="text-xl">
        #{{ number }}
      </header>
      <h2>{{ name }} - {{ position }}</h2>
      <h3> Playing for: {{ years }} years</h3>
    </div>
    </div>
  </div>
